.touchContainer{
    position: relative;
    padding-top: 5rem;
}
.leftContainer{
    margin-left: 6rem;
    margin-top: 7rem;
}
.sendImg{
    width: 2rem;
    height: 4rem;
}
.sendBtn{
    font-size: 1.3rem;
    font-family: 'Source Serif Pro', serif;
    width: 40vw;
    margin-left: 4rem;
    border-radius: 20px;
}
@media screen and (max-width:480px) {
   .userForm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3rem;
    }
    .leftContainer{
        margin-left: 6rem;
        margin-top: 3rem;
    }
    .touchContainer{
        padding-top: 1rem;
        flex-direction: column;
    }
    .sendBtn{
        font-size: 1.3rem;
        font-family: 'Source Serif Pro', serif;
        width: 42vw;
    }
}