.homeContainer{
    width: 100vw;
    height: 100vh;
}
.left{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
   
}
.right{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.leftHeading{
    font-family: 'Source Serif Pro', serif;
    margin-left: 3rem;
    margin-top: 4rem;
}
.upperHeading{
    font-size: 4.5rem;
}
.nameHeading{
    font-size: 3rem;
}
.nameHeading{
    color: rgb(255, 166, 0);
}
.aboutme{
    font-size: 1.2rem;
    display: flex;
}
.hireBtn{
    font-size: 1.4rem;
    border-radius: 20px;
    width: 20vw;
    color: white;
    background-color: orange;
    /* margin-left: 6rem; */
}
.hireBtn:hover{
    background: none;
    color: white;
}
.gitHub{
    width: 5vw;
    height: 11vh;
    border-radius: 1.2rem;
}

.goToAccounts{
    margin-top: 3rem;
    margin-left: 2rem;
}
.mineimage{
    position: relative;
}
.mineimage>*{
    position: absolute;
    z-index: -1;
} 
.backcolor{
    width: 45vw;
    height: 80vh;
    background-color: orange;
    border-radius: 20% 20% 30% 0%;
    margin-top: 4rem;
    padding-left: 5rem;
    box-shadow: 2rem  5rem 3rem;
    z-index: 1;
}
.myImage{
    width: 30vw;
    height: 30vw;
    background: none;
    border-radius: 40%;
    margin-left: 5rem;
    margin-top: 7rem;
    z-index: 1;
}

@media (max-width : 480px) {
    .homeContainer{
        flex-direction: column;
    }
    .backcolor {
        width: 45vw;
        height: 31vh;
        background-color: orange;
        border-radius: 20% 20% 30% 0%;
        margin-top: 4rem;
        box-shadow: 1rem 1rem 1rem 1rem;
        z-index: 1;
    }
    .myImage{
        width: 30vw;
        height: 30vw;
        background: none;
        border-radius: 40%;
        margin-top: 7rem;
        margin-left: 1.6rem;
        z-index: 1;
    }
    .goToAccounts {
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        margin-left: 3.5rem;
    }
    .mineimage{
        margin-left: 5rem;
    }
    .leftHeading{
        font-family: 'Source Serif Pro', serif;
        margin-left: 3rem;
    }
    .upperHeading{
        font-size: 2.5rem;
    }
    .nameHeading{
        font-size: 1.5rem;
    }
    .gitHub{
        width: 15vw;
        height: 8vh;
        border-radius: 3.4rem;
    }
    .hireBtn{
        width: 40vw;
    }
    .navbar-toggler{
        margin-left: 8rem;
    }
}


 @media (min-width: 480px) and (max-width: 999px){
    .leftHeading{
        margin-left: 3rem;
        margin-top: 3rem;
    }
    .goToAccounts {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        margin-left: 2rem;
    }
    .navbar-toggler{
        margin-left: 30rem;
    }
    .gitHub{
        width: 13vw;
        height: 10vh;
        border-radius: 3.4rem;
        margin-top: 5rem;
    }
    .hireBtn{
        margin-top: 5rem;
        width: 40vw;
    }
    .backcolor {
        width: 45vw;
        height: 40vh;
        background-color: orange;
        border-radius: 20% 20% 30% 0%;
        margin-top: 4rem;
        padding-left: 5rem;
        box-shadow: 2rem 5rem 3rem;
        z-index: 1;
    }
    .mineimage{
        margin-left: 1rem;
    }
    .myImage{
        margin-left: 4rem;
    }
    .homeContainer {
        width: 100vw;
        height: 57vh;
    }
} 

@media (min-width:590px) and (max-width:600px) {
    .goToAccounts{
        display: none;
    }
}